[client]
#password = your_password
port = {{ mariadb_port }}
socket = {{ mariadb_socket }}

[mysqld]
port = {{ mariadb_port }}
bind-address = {{ mariadb_bind_address }}
datadir = {{ mariadb_datadir }}
socket = {{ mariadb_socket }}
pid-file = {{ mariadb_pid_file }}

# Logging configuration.
{% if mariadb_log_error == 'syslog' or mariadb_log == 'syslog' %}
syslog
syslog-tag = {{ mariadb_syslog_tag }}
{% else %}
{% if mariadb_log %}
log = {{ mariadb_log }}
{% endif %}
log-error = {{ mariadb_log_error }}
{% endif %}

{% if mariadb_slow_query_log_enabled %}
# Slow query log configuration.
slow_query_log = 1
slow_query_log_file = {{ mariadb_slow_query_log_file }}
long_query_time = {{ mariadb_slow_query_time }}
{% endif %}

{% if mariadb_replication_master %}
# Replication
server-id = {{ mariadb_server_id }}

{% if mariadb_replication_role == 'master' %}
log_bin = mysql-bin
log-bin-index = mysql-bin.index
expire_logs_days = {{ mariadb_expire_logs_days }}
max_binlog_size = {{ mariadb_max_binlog_size }}

{% for db in mariadb_databases %}
{% if db.replicate|default(1) %}
binlog_do_db = {{ db.name }}
{% else %}
binlog_ignore_db = {{ db.name }}
{% endif %}
{% endfor %}
{% endif %}

{% if mariadb_replication_role == 'slave' %}
read_only
relay-log = relay-bin
relay-log-index = relay-bin.index
{% endif %}
{% endif %}

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links = 0

# User is ignored when systemd is used (fedora >= 15).
user = mysql

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

# Memory settings.
key_buffer_size = {{ mariadb_key_buffer_size }}
max_allowed_packet = {{ mariadb_max_allowed_packet }}
table_open_cache = {{ mariadb_table_open_cache }}
sort_buffer_size = {{ mariadb_sort_buffer_size }}
read_buffer_size = {{ mariadb_read_buffer_size }}
read_rnd_buffer_size = {{ mariadb_read_rnd_buffer_size }}
myisam_sort_buffer_size = {{ mariadb_myisam_sort_buffer_size }}
thread_cache_size = {{ mariadb_thread_cache_size }}
query_cache_size = {{ mariadb_query_cache_size }}
max_connections = {{ mariadb_max_connections }}

# Other settings.
wait_timeout = {{ mariadb_wait_timeout }}

# Try number of CPU's * 2 for thread_concurrency.
thread_concurrency = {{ mariadb_thread_concurrency }}

# InnoDB settings.
innodb_file_per_table = {{ mariadb_innodb_file_per_table }}
innodb_buffer_pool_size = {{ mariadb_innodb_buffer_pool_size }}
innodb_additional_mem_pool_size = {{ mariadb_innodb_additional_mem_pool_size }}
innodb_log_file_size = {{ mariadb_innodb_log_file_size }}
innodb_log_buffer_size = {{ mariadb_innodb_log_buffer_size }}
innodb_flush_log_at_trx_commit = {{ mariadb_innodb_flush_log_at_trx_commit }}
innodb_lock_wait_timeout = {{ mariadb_innodb_lock_wait_timeout }}

[mysqldump]
quick
max_allowed_packet = {{ mariadb_mysqldump_max_allowed_packet }}

[mysqld_safe]
pid-file = {{ mariadb_pid_file }}

{% if mariadb_config_include_files | length %}
# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
!includedir {{ mariadb_config_include_dir }}
{% endif %}